<nav class="rounded-top-2 navbar sticky-top bg-dark z-1 p-2">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center w-100">
      <div class="d-flex align-items-center">
        <div (click)="goBackward()"
            class="me-4 rounded-5 border-1 router-icon d-flex align-items-center justify-content-center">
            <i class="bi-chevron-left bi-chevron-left-lg router-icon hover-animation-chevron" ></i>
        </div>
        <div (click)="goForward()"
            class="rounded-5 border-1 router-icon d-flex align-items-center justify-content-center">
            <i class="bi-chevron-right bi-chevron-right-lg router-icon hover-animation-chevron" ></i>
        </div>
      </div>
      <div>
        @if (isAuthenticated) {
          <div class="align-item-center">
            <button class="btn btn-sm btn-light hover-animation me-2" (click)="logout()">Se deconnecter</button>
          <i class="bi-person-circle bi-person-circle-xl avatar-unknown"></i>
          </div>
        }   
      </div>
    </div>
  </div>
</nav>
