<section class="vh-75 shadow shadow-secondary" style="padding-top: 7%;" >

    <div class=" container card cascading-right  bg-body-tertiary py-5 px-2 rounded" style="backdrop-filter: blur(30px); width: 70%;">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-md-8 col-lg-5 col-xl-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                  class="img-fluid" alt="Sample image">
              </div>
              <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  
                  <!-- Email input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Adresse email</label>
                    <input formControlName="email" type="email" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Entrer une adresse email valide" required/>
                      <div class="invalid-feedback">
                        Entrer votre adresse email
                      </div>                
                  </div>
        
                  <!-- Password input -->
                  <div data-mdb-input-init class="form-outline mb-3">
                    <label class="form-label" for="form3Example4">Mot de passe</label>
                    <input formControlName="password" type="password" id="form3Example4" class="form-control form-control-lg"
                      placeholder="Entrer le mot de passe" required/>
                      <div class="invalid-feedback">
                        Entrer votre mot de passe
                      </div>                
                  </div>
        
                  <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                      <label class="form-check-label" for="form2Example3">
                        Se souvenir de moi
                      </label>
                    </div>
                    <a href="#!" class="text-body">Mot de passe oublié ?</a>
                  </div>
        
                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-md"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;"
                    (submit)="submitted"
                    [disabled]="loginForm.invalid"
                    (click)="showInfo(successTpl, dangerTpl)"
                    >
                    @if(submitted) {
                      <div class="spinner-grow spinner-grow-sm me-2" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    }
                    Se connecter</button>

                    <p class="small fw-bold mt-2 pt-1 mb-0">N'avez-vous pas de compte ? <a routerLink="/register"
                      class="link-warning">S'enregistrer</a></p>
                  </div>
        
                </form>
              </div>
            </div>
          </div>

    </div>

</section>

<!-- Section: toast service -->

<ng-template #successTpl>Connexion validée</ng-template>

<ng-template #dangerTpl>
  <i class="bi-envelope-x-fill"></i>
	Adresse email ou mot de passe incorrect
</ng-template>

<app-toasts-container aria-live="polite" aria-atomic="true"></app-toasts-container>

<!-- Section: toast service -->